<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div>
            <h1>Welcome to your Dashboard Admin</h1>
        </div>
        <br>
        <div>
            <h3>What Action Would You Like to Perform?</h3>
        </div>
        <br>
        <div>
            <h2><a href="admin_enroll">View/Enroll/Employ People</a></h2>
            <h2><a href="admin_catalog">View/Add to Course Catalog</a></h2>
            <h2><a href="admin_dept">View/Add to Available Departments</a></h2>
            <h2><a href="admin_construction">View/Add Buildings</a></h2>
        </div>
        <br>
        <p><a href="homepage">Log Out</a></p>
    </body>
</html>
