<!DOCTYPE html>
<html>
<head>
    <title>Person Directory</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
        body {
          background-color: #c4c4c4; /* set the background color to light gray */
        }
    </style>
</head>
<body>
    <div>
        <p><a href="homepage">Go to homepage</a></p>
    </div>
    <div>
    <form method="POST" action="search_db">
        <p>Search for a Person in the Directory (search by their name or uni): <input type="text" name="name"> <input type="submit" value="Search"></p>
        </form>
        {% for n in data %}
        <div>
            {% if n[0] == 'T' and n[1] == 'h' and n[2] == n[4] and n[3] == 'r' %}
                {{n}}
            {% else %}
            <h3>{{n[1]}} ({{n[0]}})</h3>
            <h4>Contact Information</h4>
            <ul>
                <h5>Email: {{n[2]}}</h5>
                <h5>Phone Number: {{n[3]}}</h5>
                <h5>Living Address: {{n[4]}}</h5>
            </ul>
            {% endif %} 
        </div>
        <br>
        {% endfor %}
    </div>

</body>
</html>

