<!DOCTYPE html>
<html>
  <head>
      <title>Login to GSSOL</title>
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <style>
        body {
          background-color: #c4c4c4; /* set the background color to light gray */
        }
      </style>
  </head>
  <body id="index_body">
  <div id="index_login_div">
    <form method="POST" action="/login">
      <p id="index_title_p">Login to GSSOL:</p><input id = "index_button" type="text" name="name"> <input type="submit" value="Login" />
    </form>
  </div>
  <div id="index_error_div">
    {{data}}
  </div>
  <div id="index_page_change_div">
    <p><a href="directory">Go to the directory page</a></p>
  </div>
  </body>
</html>

